.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 2px 2px 5px 0px #bebebe;
  border-radius: 5px;
}

.product > .tag {
  display: block;

  max-width: 2.8rem;
  margin-bottom: 10px;
  padding: 0.4em 0;

  font-size: 0.8rem;
  text-align: center;

  background-color: #fcd912;
  border-radius: 10px;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 140px;
  margin-bottom: 20px;

  text-align: center;
}

.img-wrapper img {
  display: inline-block;

  width: 70%;
  height: auto;
}

.info > a,
.info > span {
  display: block;
}

.info > .name {
  overflow: hidden;

  height: 2rem;
  margin-bottom: 10px;

  font-size: 1rem;
  line-height: 1;
  color: #000;
  text-decoration: none;
}

.price-wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 5px;
}

.info > .price {
  color: #1a1a1a;
}

.buy-btn {
  display: inline-block;

  margin-left: auto;
  padding: 0.2em 0.4em;

  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;

  border-radius: 0.3em;
  background-color: #29cc0c;
}

.info > .delivery {
  font-size: 0.8rem;
  color: #1b8f07;
}

/* GRID STYLES */
